.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.header-logo {
  margin-left: 15px;
  text-align: left;
  font-size: 18px;
}
